<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blessedbin.frame.ucenter.mapper.LoginLogMapper" >
  <resultMap id="BaseResultMap" type="com.blessedbin.frame.ucenter.modal.LoginLog" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="login_id" property="loginId" jdbcType="TIMESTAMP" />
    <result column="description" property="remark" jdbcType="VARCHAR" />
  </resultMap>
</mapper>