<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blessedbin.frame.ucenter.mapper.SysActionMapper">
    <resultMap id="BaseResultMap" type="com.blessedbin.frame.ucenter.modal.SysAction">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="permission_id" property="permissionId" jdbcType="INTEGER"/>
        <result column="menu_id" property="menuId" jdbcType="INTEGER"/>
        <result column="addition_infomation" property="additionInfomation" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectCountByNameAndMenuId" resultType="java.lang.Integer">

        select count(*)
        from sys_action
            inner join sys_permission permission on sys_action.permission_id = permission.id
        where permission.permission_name = #{name} and sys_action.menu_id = #{menuId}

    </select>
    <select id="selectByMenuId" resultType="com.blessedbin.frame.ucenter.modal.SysAction">
        select *
        from sys_action
        where menu_id = #{menuId}
    </select>
    <select id="selectDtoByMenuId" resultType="com.blessedbin.frame.ucenter.entity.dto.ActionDto">
        select
            sys_action.permission_id       id,
            sys_action.menu_id             menuId,
            sys_action.addition_infomation additionInfomation,
            sys_action.remark              remark,
            permission.permission_name     permissionName,
            permission.permission_key      permissionKey,
            permission.create_time         createTime,
            permission.update_time         updateTime,
            permission.enabled             enabled,
            permission.type                type,
            permission.sort                sort,
            permission.sys_system_id       sysSystemId
        from sys_action
            inner join sys_permission permission on sys_action.permission_id = permission.id
        where sys_action.menu_id = #{menuId}
    </select>
</mapper>