<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blessedbin.frame.ucenter.mapper.SysActionApiMapper" >
  <resultMap id="BaseResultMap" type="com.blessedbin.frame.ucenter.modal.SysActionApi" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="action_id" property="actionId" jdbcType="INTEGER" />
    <id column="api_id" property="apiId" jdbcType="INTEGER" />
  </resultMap>
</mapper>