<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blessedbin.frame.ucenter.mapper.SysPermissionMapper">
    <resultMap id="BaseResultMap" type="com.blessedbin.frame.ucenter.modal.SysPermission">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="permission_name" property="permissionName" jdbcType="VARCHAR"/>
        <result column="permission_key" property="permissionKey" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="description" property="remark" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="sys_system_id" property="sysSystemId" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectByPermissionKey" resultType="com.blessedbin.frame.ucenter.modal.SysPermission">
        select *
        from sys_permission
        where permission_key = #{key}
    </select>
    <select id="selectByRoleIdAndType" resultType="com.blessedbin.frame.ucenter.modal.SysPermission">
        select *
        from sys_permission
            inner join sys_role_has_permission srhp on sys_permission.id = srhp.sys_permission_id
        where srhp.sys_role_id = #{roleId} and sys_permission.type = #{type}
    </select>
</mapper>