<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blessedbin.frame.ucenter.mapper.SysUserRoleMapper">
    <resultMap id="BaseResultMap" type="com.blessedbin.frame.ucenter.modal.SysUserRole">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="sys_user_uuid" property="sysUserUuid" jdbcType="VARCHAR"/>
        <id column="sys_role_id" property="sysRoleId" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="insertLists">
        insert into sys_user_role(sys_user_uuid, sys_role_id) values
        <foreach collection="collect" separator="," item="c">
            (#{c.sysUserUuid},#{c.sysRoleId})
        </foreach>
    </insert>
    <delete id="deleteByUuid">
        delete from sys_user_role
        where sys_user_uuid = #{uuid}
    </delete>
</mapper>